@media (min-width: 960px) {
    .main {
	   max-width: 960px;
    }
}

@media (max-width: 480px) {
    .header { 
        height: auto !important;
    }

    .content {
    	margin-top: 2em;
    }

    .avatar { 
        display: none; 
    }

    .nav li { 
        font-size: 1.9em !important; 
    }
}

::selection {
	background-color: #1e90ff;
	color: #ffffff;
}

::-moz-selection {
	background-color: #1e90ff;
	color: #ffffff;
}

/* 
 * Base elements and typography
 */
html {
	font-size: 100%;
}

body {
	background: #fff;
	color: #2d2d2d;
	font-family: "Segoe UI", "Segoe WP", "Open Sans", sans-serif;
	line-height: 1.4;
	margin: 0;
}

h1 {
	color: #1e90ff;
	font: 300 2.5em "Segoe UI", "Segoe WP", "Open Sans", sans-serif;
	margin: 1em 0 .5em 0;
}

h2 {
	color: #1e90ff;
	font: 300 1.8em "Segoe UI", "Segoe WP", "Open Sans", sans-serif;
	margin: 1em 0 .5em 0;
}

h3 {
	color: #1e90ff;
	font: 900 1.2em "Segoe WP Black", "Segoe UI", "Segoe WP", "Open Sans", sans-serif;
	margin: 1em 0 .5em 0;
	text-transform: uppercase;
}

h4 {
	font: 100 1em "Segoe UI", "Segoe WP", "Open Sans", sans-serif;
}

p {
	margin: 1em 0;
}

pre, code, kbd {
	font-family: Consolas, sans-serif;
}

pre {
    background-color: #eeeeee;
	border-left: .5em solid #1e90ff;
	padding: 0.5em 0.5em 0.5em 1.5em;
	margin-bottom: 1em;
}

a, a:link, a:visited {
	color: #1e90ff; /* "dodger blue" */
	cursor: pointer;
	text-decoration: none;
}

a:hover, a:active {
	color: #1e90ff;
	text-decoration: underline;
}

a img {
	border: none;
}

small {
	color: #999999;
	font-size: 0.6em;
}

strong {
	font-weight: 700;
}

em {
	color: #999999;
	font-style: normal;
}

blockquote {
    background-color: #eeeeee;
	border-left: .5em solid #1e90ff;
	padding: 0.5em 0.5em 0.5em 1.5em;
	margin: 0 0 1em 0;
}

blockquote p {
	font-size: 1.2em;
	margin: 0;
}

blockquote p:before {
	content: "\201C";
}

blockquote p:after {
	content: "\201D";
}

blockquote em,
blockquote i {
	color: #2d2d2d;
	font-style: italic;
}

blockquote small {
	font-size: 0.8em;
}

blockquote small:before {
	content: '\2014 \00A0';
}

q {
	quotes: '\201C' '\201D 	' '\2018' '\2019';
}

q:before {
	content: '\201C';
	content: open-quote;
}

q:after {
	content: '\201D 	';
	content: close-quote;
}

q q:before {
	content: '\2018';
	content: open-quote;
}

q q:after {
	content: '\2019';
	content: close-quote;
}

/* 
 * Custom elements
 */
.nickname {
	color: #999999;
}

a.button, a.button:visited {
	border: 2px solid #2d2d2d;
	color: #2d2d2d;
	display: inline-block;
	margin-bottom: 0.3em;
	margin-right: .3em;
	padding: 0 .5em;
	font-weight: 600;
	text-decoration: none;
}

a.button:hover {
	background-color: #eeeeee;
}

a.button:active {
	background-color: #2d2d2d;
	color: #ffffff;
}

a.button:not([href]) {
	background: none;
	border: 2px solid #999999;
	color: #999999;
	cursor: default;
}

.gist {
	font-size: .8em;
}

.alert {
	background-color: #d81102;
	color: #ffffff;
	font-weight: 700;
	margin: 0;
	padding: .2em .5em;
}

.alert a {
	color: #ffffff;
	text-decoration: none;
	display: block; /* Allow clicking on the entire bar */
}

.alert img {
	height: 1.5ex;
}

.tile {
	background-color: #3d3d3d;
	color: white;
	float: left;
	width: 160px;
	height: 160px;
	margin: .5em;
}

.tile img {
	width: 129px; 
	height: 129px; 
	padding: 0 15px;
}

.tile p {
	margin: 0 15px;
	font-family: "Segoe WP", "Segoe UI", "Open Sans", sans-serif;
	font-size: .85em;
	font-weight: 600;
}

img.pixelart {
	image-rendering:-moz-crisp-edges; 
	image-rendering: -o-crisp-edges; 
	image-rendering:-webkit-optimize-contrast; 
	-ms-interpolation-mode:nearest-neighbor;
	/* Fuck my life */
}


/*
 * Lists
 */
ul {
	padding-left: 2em;
	margin: 0 0 1em 0;
	list-style: square;
}

ol {
	padding-left: 2em;
	margin: 0 0 1em 0;
	list-style: decimal;
}

li {
	line-height: 1.5em;
}

li > p {
	margin: 0;
}

dl, dialog {
	margin: 1em 0;
}

dt {
	float: left;
	font-weight: 600;
}

dd {
	padding-left: 120px;
	line-height: 1.5;
}

.nav {
	list-style: none !important;
	padding-left: 0 !important;
}

.nav li {
	float: left;
	font: 300 2.1em "Segoe UI", "Segoe WP", "Open Sans", sans-serif;
	line-height: 1.2;
	margin-right: 0.5em;
}

.nav li a {
	color: #999999 !important;
	text-decoration: none !important;
	text-shadow: none !important;
}

.nav li.current a {
	color: #eeeeee !important;
	text-decoration: none !important;
	text-shadow: none !important;
}

/*
 * Header
 */
.main {
	margin: 1em;
}

.header {
	padding: 1em;
	background-color: #2d2d2d;
	overflow: hidden;
	border-bottom: 1px solid #aaaaaa
}
 
.avatar {
	border: 3px solid #86b5d9;
	float: left;
	margin-right: 1em;
	width: 96px;
	height: 96px;
}

.avatar.online {
	border-color: #86b5d9;
}

.avatar.ingame {
	border-color: #8bc53f;
}

.avatar.offline {
	border-color: #999999;
}

.title {
	font-weight: bold;
	text-transform: uppercase;
	color: #999999;
}

.title.online {
	color: #86b5d9;
}

.title.ingame {
	color: #8bc53f;
}

.title.offline {
	color: #999999;
}

.login-id {
	float: right;
	font-weight: bold;
	text-transform: uppercase;
	color: #2d2d2d;
}

/*
 * Footer
 */
.footer {
	border-top: 1px solid #999999;
	color: #999999;
	font-size: 0.8em;
	margin: 3em 0;
}

/*
 * Layout
 */
.content {
	clear: both;
}

/*
 * What the fuck, Chrome? http://bit.ly/OXGzDy
 */
dialog {
	background-color: inherit;
	border: none;
	color: inherit;
	display: block;
	padding: 0;
	position: static;
}