%p
  ="That's all. Any comments or questions? Contact me at "
  %a{ href: 'mailto:horsedrowner@gmail.com' }= 'horsedrowner@gmail.com'
%p
  %a{ href: 'http://s.horsedrowner.net/' }= 'Images'
  %span.bullet= '—'
  %a{ href: 'http://dash.horsedrowner.net/' }= 'Dashboard'