<footer>
    <p><a href="//s.horsedrowner.net">Images</a>
        &bull; <a href="/ip">IP</a>
        &bull; Powered by <a href="http://steampowered.com/">Steam</a> and 
        	<a href="http://www.last.fm/">Last.fm</a>
</footer>
