<footer>
    <p><a href="//s.horsedrowner.net">Images</a>
        &bull; <a href="/ip">IP</a>
        &bull; Not yet powered by <a href="http://steampowered.com/">Steam</a> or <a href="http://www.last.fm/">Last.fm</a>
</footer>
