%h1
  %a{ href: '/avatar' }
    %img{ src: settings.avatar[:thumb], class: settings.avatar[:thumb_style], alt: '' }
  %a{ href: '/' }= 'horsedrowner'

%nav
  %a{ href: '/strtools' }= 'Inspect a string'