<% @page = "home" %>

<script type="text/javascript">
    var followedChannels = <%= settings.twitch_streams.to_json %>;
</script>

<section>
    <header>
        <h1>Live on Twitch</h1>
        <p id="home-twitch-updating">Updating...</p>
    </header>
    <div id="twitch"></div>
</section>

<script src="/assets/scripts/home.js" async></script>