<% @page = "home" %>

<script type="text/javascript">
    var followedChannels = <%= settings.twitch_streams.to_json %>;
</script>

<section>
    <header>
        <h1>
            <a href="http://www.twitch.tv/directory/following">Live on Twitch</a>
            <i class="small refresh loading icon" id="home-twitch-updating"></i>
        </h1>
    </header>
    <div id="twitch"></div>
</section>

<script defer src="/assets/scripts/home.js"></script>