$twitch-color: 		#6441A5
$twitch-text-color: #FFF

.twitch.stream
	background-color: $twitch-color
	color: $twitch-text-color
	margin-bottom: 1em
	padding: .5em 1em

	a
		color: $twitch-text-color

	.viewers
		background-color: rgba(0, 0, 0, 0.5)
		display: inline-block
		font-size: .8em
		margin-left: .5em
		padding: .25em .5em
		float: right

i.live.icon:before
	color: #F00
	content: "\2B24"
	font-style: normal !important
	margin-right: .25em
