$twitch-color: 		#6441A5
$twitch-text-color: #FFF

.twitch.stream
    background-color: $twitch-color
    color: $twitch-text-color
    margin-bottom: 1em
    padding: .5em 1em
    white-space: nowrap // Don't wrap long titles to a new line
    overflow: hidden // Prevent the element from collapsing???
        
    .icon
        float: left // Necessary because <a> also has float 
        line-height: 1.55em
        margin-left: -.15em
        
    .red.icon 
        color: #f00!important

    a
        color: $twitch-text-color
        float: left // Necessary to give an inline element a width
        overflow: hidden // Hide overflow on ridiculously long titles...
        text-overflow: ellipsis // ...with ellipsis
        width: $content-width - 125px // Leave room for the viewer count
        
    a:hover
        text-shadow: none

    .viewers
        background-color: rgba(0, 0, 0, 0.5)
        display: inline-block
        font-size: .8em
        margin-left: .5em
        padding: .25em .5em
        float: right
