$link-color: dodgerblue

html
    background: hsl(0, 0%, 95%)
    color: hsl(0, 0%, 5%)
body
    font: 400 1.2rem/1.6 Merriweather, 'Sitka Text', serif
    margin: 1rem
main
    max-width: 960px
footer
    font-size: 1rem
    margin-top: 2.5rem
    opacity: .75

h1, h2, h3, h4, h5, h6
    font: 300 2.5rem/1.4 'Open Sans', 'Segoe UI', sans-serif
h2
    font-size: 2rem
h3
    font-size: 1.6rem

a
    color: $link-color
    text-decoration: none
a:hover
    color: complement($link-color)

iframe
    border: none