$accent: hsl(15, 88, 50)

html
    background: hsl(0, 0%, 95%)
    color: hsl(0, 0%, 5%)
body
    font: 400 1.2rem/1.6 Merriweather, 'Sitka Text', serif
    margin: 1rem
main
    display: block // Internet Explorer
    margin-top: 2.5rem
    max-width: 960px
footer
    font-size: 1rem
    margin-top: 2.5rem
    opacity: .5

h1
    font: 600 2.5rem/1.6 'Open Sans', 'Segoe UI', sans-serif
h2
    font: 700 2rem/1.4 'Open Sans', 'Segoe UI', sans-serif
    border-bottom: 1px solid hsl(0, 0%, 5%)
h3
    font: 300 1.6rem/1.4 'Open Sans', 'Segoe UI', sans-serif
h4
    font: 700 1rem/1.4 'Open Sans', 'Segoe UI', sans-serif
    margin-top: 2.5rem
    margin-bottom: -.5rem
    text-transform: uppercase

a
    color: $accent
    text-decoration: none
a:hover, a:focus
    text-decoration: underline
    color: adjust-hue($accent, -30)

b
    /* The b element represents a span of text to which attention is being 
     * drawn for utilitarian purposes without conveying any extra importance 
     * and with no implication of an alternate voice or mood, such as key words 
     * in a document abstract, product names in a review, actionable words in 
     * interactive text-driven software, or an article lede.
     */
    font-weight: inherit
    font-variant: small-caps

small
    font-size: .75em
    opacity: .5

code
    background: white
    border-radius: .2em
    color: hsl(0, 66.6%, 42.0%)
    font: 400 1.2rem/1.2 'Fira Mono', 'Input', Consolas, monospace
    padding: .1em .25em
    white-space: pre

input, textarea
    font: 400 1.2rem/1.4 'Open Sans', 'Segoe UI Emoji', 'Segoe UI', sans-serif
    padding: .2em .5em
    width: 100%

iframe
    border: none