header
    h1
        margin-top: 0

        a
            color: hsl(0, 0, 15%)

        a:hover
            color: hsl(0, 0, 40%)

        .avatar
            margin-right: .5rem

// Looks kinda dumb... but at least it looks (more) clickable now
nav a:before
    content: '['
nav a:after
    content: ']'

.inline
    height: 1rem
    vertical-align: middle
.large.inline
    height: 5rem
.original.inline
    height: initial

.full.avatar
    max-height: 720px
    max-width: 100%
    display: inline-block

.avatar
    border: 1px solid black
    border-radius: 2px
    box-shadow: 0 0 2px black
.sprite
    -ms-interpolation-mode: nearest-neighbor
    image-rendering: pixelated

.bullet
    font-size: .5em
    vertical-align: middle

.char
    font-family: 'Segoe UI Emoji', sans-serif
    white-space: pre

textarea.single
    height: 1.5em
    resize: none
    white-space: nowrap
    overflow: hidden