// Colors
$page-color:                    white
$page-text-color:               #2d2d2d
$page-inactive-text-color:      #999
$header-color:                  #2d2d2d
$header-text-color:             #eee
$header-inactive-text-color:    #999
$box-color:                     #eee
$box-text-color:                #2d2d2d
$box-inactive-text-color:       #999
$primary-color:                 dodgerblue
$alert-color:                   #d81102
$alert-text-color:              white
$steam-online-color:            #86b5d9
$steam-ingame-color:            #8bc53f
$steam-offline-color:           #898989

// Fonts
$page-font-family:              "Open Sans", "Segoe UI", sans-serif
$page-font-weight:              400
$caption-font-family:           "Exo 2", "Open Sans", "Segoe WP", "Segoe UI", sans-serif
$caption-font-weight:           300
$small-caption-font-family:     $caption-font-family
$small-caption-font-weight:     600
$code-font-family:              "Consolas", monospace
$code-font-weight:              400

// Sizing
$header-height: 120px

html
    background-color: $header-color
    color: $header-text-color
    font: $page-font-weight 100% $page-font-family

body
    background-color: $page-color
    color: $page-text-color
    margin: 0

header
    background-color: $header-color
    color: $header-text-color
    height: $header-height

    .avatar
        height: $header-height
        float: left
        margin: 0 1em 0 0

    .avatar.online, .avatar.away, .avatar.busy, .avatar.looking_to_trade, .avatar.looking_to_play
        border-left: 8px solid $steam-online-color

    .avatar.ingame
        border-left: 8px solid $steam-ingame-color

    .title
        color: $steam-offline-color
        display: inline-block
        font-family: $small-caption-font-family
        font-weight: $small-caption-font-weight
        font-size: 1em
        text-transform: uppercase
        margin: 1em 0 0 0

    nav
        ul
            margin: 0
            list-style: none
            padding-left: 0

        li
            float: left
            margin: 0 1em 0 0

        a
            color: $header-inactive-text-color
            font-family: $caption-font-family
            font-weight: $caption-font-weight
            font-size: 2em

        a:hover
            text-decoration: none

        a.active
            color: $header-text-color

main
    display: block // :|
    margin: 1em
    max-width: 960px

footer
    background-color: $header-color
    color: $header-inactive-text-color
    font-size: .8em
    padding: .25em 1em
    margin-top: 5em

a
    color: $primary-color
    text-decoration: none

a:hover
    text-decoration: underline

code
    background-color: $box-color
    color: $box-text-color
    font-family: $code-font-family
    font-weight: $code-font-weight

em
    font-style: normal
    color: $page-inactive-text-color

.caption
    font-family: $caption-font-family
    font-weight: $caption-font-weight
    color: $primary-color

h1
    @extend .caption
    font-size: 2.5em

h2
    @extend .caption
    font-size: 1.6em

h3
    @extend .caption
    font-size: 1.25em

h4
    @extend .caption
    font-size: 1em

h5
    @extend .caption
    font-family: $small-caption-font-family
    font-weight: $small-caption-font-weight
    font-size: 1em
    text-transform: uppercase

h6
    @extend .caption
    font-family: $small-caption-font-family
    font-weight: $small-caption-font-weight
    font-size: .8em
    text-transform: uppercase

blockquote
    background-color: $box-color
    color: $box-text-color
    border-left: 8px solid $primary-color
    padding: .5em 2em
    margin-left: 2.5em

    p
        font-size: 1.2em

dl
    margin: 2em 0

    dt
        float: left
        font-weight: 600

    dd
        padding-left: 120px
        line-height: 1.5

cite
    display: inline-block // Fuck CSS.
    color: $page-inactive-text-color
    font-style: normal
    font-size: .8em
    margin-bottom: 1.5em

cite:before
    content: "Source: "

hr
    border: none
    border-top: 2px solid $page-inactive-text-color
    margin: 2em 0

// Misc. classes
.online, .away, .busy, .looking_to_trade, .looking_to_play
    color: $steam-online-color !important

.ingame
    color: $steam-ingame-color !important

.offline
    color: $steam-offline-color !important

.alert
    background-color: $alert-color
    color: $alert-text-color
    font-family: $small-caption-font-family
    font-weight: $small-caption-font-weight
    margin: 0
    padding: .2em .5em

    a
        color: $alert-text-color // Because apparently, !important isn't enough anymore
        display: block // Turn the entire .alert into a link
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    a:hover
        text-decoration: none

    img
        height: 1.5ex

.twitch.stream.alert
    padding: .2em .5em
    margin: 0

.load-indicator
    height: 16px !important
    vertical-align: -2px

.hidden
    display: none

@import home
@import mobile